<% if @mega_menu.errors.any? %>
  <div class="row" id="error_explanation">
    <h2><%= pluralize(@mega_menu.errors.count, "error") %> prohibited this mega_menu from being saved:</h2>
    <ul>
    <% @mega_menu.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class='row'>
  
  <%= form_for [:admin, @mega_menu, @mega_menu_item] do |f| %>
    <div class="form-group">
      <%= f.label :title %>:
      <%= f.text_field :title %>
      
      <%= f.label :link %>:
      <%= f.text_field :link %>
    </div>
    
    <div class="form-group">
      <%= f.label :weight %>:
      <%= f.select :weight, options_for_select(-10..10, @mega_menu_item.weight) %>
    </div>
    
    <div class="form-group">
      <%= f.check_box :top_level %>
      <%= f.label :top_level %>
    </div>
    
    <div class="form-group">
      <%= f.label :type_of_link %>:
      <%= f.radio_button :type_of_link, "taxon"%>
      <%= f.label :type_of_link_taxon, "Taxon" %>
      <%= f.radio_button :type_of_link, "page"%>
      <%= f.label :type_of_link_page, "Page" %>
    </div>
    
    <div class="form-group">
      <%= f.label :parent_id %>:
      <%= f.collection_select :parent_id, @mega_menu.mega_menu_items, :id, :title %>
    </div>
    
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>
  <% end %>
  
</div>