<% if @mega_menu.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@mega_menu.errors.count, "error") %> prohibited this mega_menu from being saved:</h2>
    <ul>
    <% @mega_menu.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <%= form_for [:admin, @mega_menu] do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name, Spree.t(:mega_menu_name) %> <span class="required">*</span>
          <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>

      <div class="col-md-1">
        <div class="form-group">
          <%= f.label :enabled, Spree.t(:mega_menu_enabled) %>
          <%= f.check_box :enabled, :class => "form-control" %>
        </div>
      </div>
    </div>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
<% end %>
