<p id="notice"><%= notice %></p>

<% content_for :page_title, Spree.t(:mega_menus_list) %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_mega_menu),
    new_admin_mega_menu_url,
    class: "btn-success", id: "new_mega_menu_link",
    icon: "add" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th colspan="1"><%= Spree.t(:mega_menu_id) %></th>
      <th colspan="1"><%= Spree.t(:mega_menu_name) %></th>
      <th colspan="1"><%= Spree.t(:mega_menu_enabled) %></th>
      <th colspan="1"><%= Spree.t(:menu_items_list) %></th>

      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @mega_menus.each do |mega_menu| %>
      <tr>
        <td><%= mega_menu.id %></td>
        <td><%= link_to mega_menu.name, admin_mega_menu_mega_menu_items_path(mega_menu)  %></td>
        <td><%= mega_menu.enabled %></td>
        <td><%= link_to Spree.t(:menu_items_list_view), admin_mega_menu_mega_menu_items_path(mega_menu)  %></td>

        <td class="actions text-right">
          <%= link_to_edit mega_menu, no_text: true %>
          <%= link_to_delete mega_menu, no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to Spree.t(:new_mega_menu), new_admin_mega_menu_path %>
