<div class="cd-dropdown-wrapper">
  <div id="ui-overlay"></div>
    <nav class="cd-dropdown">
      
      <!-- button opens menu -->
      <h2 class="menutitle">Shop Categories</h2>
    	<a href="#0" class="cd-close">Close</a>
    	
    	<!-- Main Category links -->
			<ul class="cd-dropdown-content">
        <% mega_menu_build(1).each do |i| %>
        
         <li class="has-children">
            <!-- top level links -->
						<%=  mega_menu_link i[:item] %>
            
						<ul class="cd-secondary-dropdown is-hidden">
  						<!-- top level titles in dropdown -->
  						<h2 class="subcategory"><%= i[:item].title %></h2>
							<li class="go-back"><a href="#0">Back to Main Menu</a></li>
							
							<!-- container for the left section "column 1" in db -->
							<div class="mega-menu-col-dbl">
								
                <% i[:children].each do |c| %>
  								<% if (c[:item].column == 1) %>
  								  <li><%= mega_menu_link c[:item] %></li>
                  <% end %>
  								<% unless c[:children].empty? %>
								    <ul> 
  								    <% c[:children].each do |d| %>
  								      <% if (d[:item].column == 1) %>
  								        <li><%= mega_menu_link d[:item] %></li>
  								      <% end %>
  								    <% end %>
								    </ul>
  								 <% end %>
  								</li>
								<% end %>
								
              </div>
              
              <!-- column 2 -->
              <div class="mega-menu-col-dbl">
                
                <% i[:children].each do |c| %>
  								 <% if (c[:item].column == 2) %>
    								 <li class="mega-menu-highlight">
    								  <%= mega_menu_link c[:item] , options: {class: "mega-menu-highlight"} %>
    								 </li>
  								 <% end %>
  								 <% unless c[:children].empty? %>
  								    <ul> 
    								    <% c[:children].each do |d| %>
    								      <% if (d[:item].column == 2) %>
    								        <li class="mega-menu-highlight">
    								          <%= mega_menu_link d[:item], options: {class: "mega-menu-highlight"} %>
    								        </li>
      								    <% end %>
    								    <% end %>
  								    </ul>
  								 <% end %>
  								</li>
  							
                  <% end %>
  						 
								<%= image_tag("wallpaper.jpg", :alt => "Mylar Contact Paper", :class => "mega-menu-feature") %>
						  </div>
						  
							<li class="see-all"><%=  mega_menu_link i[:item], prefix: "See All" %></li>
						</ul> <!-- .cd-dropdown-icons -->
						
					</li> <!-- .has-children -->
					
        <% end %>
        
			</ul><!-- close  Main Category links  -->
		</div>
	</nav> <!-- .cd-dropdown -->
</div> <!-- .cd-dropdown-wrapper -->

